# Python files
__pycache__/
*.py[cod]
*.egg
*.egg-info/
*.pyo

# Virtual environment
venv/
env/

# ignore key file
.env

# IDE settings
.vscode/
.idea/

# Logs
*.log

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# System files
.DS_Store
Thumbs.db
